node_modules/
dist/
*.db
db.json
.env
*.log
.DS_Store

# Backend
backend/node_modules/
backend/dist/
backend/*.db
backend/db.json
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

